<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Django Blog v2.0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article_list' %}">Barcha maqolalar</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown dropstart">
            <a class="nav-link dropdown-toggle text-capitalize" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.first_name %}
                {{ user.first_name }} {{ user.last_name }}
              {% else %}
                {{ user.username }}
              {% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'article_create' %}">Maqola qo'shish</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'password_change' %}">Parolni o'zgartirish</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Chiqish</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Kirish</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Ro'yhatdan o'tish</a>
          </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>